footer(class='footer', role='contentinfo')

  p(class='copyright')
    | Copyright &#169; 
    span(itemprop='copyrightYear') #{site.copyrightYear}
    | 
    span(itemprop='author', itemscope, itemtype='http://schema.org/Person')
      a(href='#{author.url}', rel='external', target='_blank')
        span(itemprop='name') #{author.name}
      meta(itemprop='url', content='#{author.url}')

  block footer

