@import "helpers/_base";
@import "helpers/_mixins";
@import "helpers/_placeholders";
//@import 'helpers/_reset';
//@import "helpers/_hashgrid";

//@import "elements/_scaffolding";
//@import "elements/_typography";


$total-columns: 4; // The number of Columns in your default Grid Layout <number> Unitless number.
$column-width: 4em; // 64px The width of a single Column in your Grid. <length> Length in any unit of measurement (em, px, %, etc).
$gutter-width: 1.25em; // 20px The space between Columns. <length> Units must match $column-width.
$grid-padding: 0; // 24px

h1, p {
  background: purple;
}

p {
  @include adjust-font-size-to(16px, 3);
}

%container {
  @include container(3);
  background-color: blue;
}

//@include hash-grid(320px, $column-width, $gutter-width, $grid-padding);

.header,
.main,
footer {
  @extend %container;
}

$media-layout: 20em 12 40em;

@include at-breakpoint($media-layout) {
  %container {
    @include set-container-width;
    background-color: yellow;
  }
}

@include at-breakpoint(20em 12) {
  %container {
    @include set-container-width;
    background-color: green;
  }
}
