@charset 'UTF-8';

@import 'globals/_base';
@import 'helpers/_normalize';
//@import 'helpers/_display';
@import 'helpers/_hashgrid';
@import 'elements/_scaffolding';
@import 'elements/_typography';
@import 'modules/_misc';

$total-columns: 4; // The number of Columns in your default Grid Layout <number> Unitless number.
$column-width: 4rem; // 64px The width of a single Column in your Grid. <length> Length in any unit of measurement (em, px, %, etc).
$gutter-width: 1.25rem; // 20px The space between Columns. <length> Units must match $column-width.
$grid-padding: $gutter-width; // 20px

%container {
  $container-style: fluid;
  @include container;
  background: yellow;
  //@include susy-grid-background;
  //@include grid-background($total-columns, $column-width, $gutter-width, $base-line-height, $grid-padding, $force-fluid: true);
  overflow: hidden;
}

.container {
  @extend %container;
}

@include hashgrid($total-columns, $column-width, $gutter-width, $grid-padding);

$total-columns: 8; // 692px

@include at-breakpoint($total-columns) {

  %container {
    $container-style: magic;
    @include set-container-width;
    //@include susy-grid-background;
    //@include grid-background($total-columns, $column-width, $gutter-width, $base-line-height, $grid-padding, $force-fluid: true);
  }

  @include hashgrid($total-columns, $column-width, $gutter-width, $grid-padding);
}



$total-columns: 12; // 1028px

@include at-breakpoint($total-columns) {

  %container {
    @include set-container-width;
    //@include susy-grid-background;
    //@include grid-background($total-columns, $column-width, $gutter-width, $base-line-height, $grid-padding, $force-fluid: true);
  }

  @include hashgrid($total-columns, $column-width, $gutter-width, $grid-padding);

}
