- var author = { name: 'Lance Guyatt' }

- var site = { name: 'Starter', title: 'An HTML5, Compass SASS, Jade starter kit', description: 'An HTML5, Compass SASS, Jade starter kit', lang: 'en', url: 'http:lanceguyatt.com/', lang: 'en', dir: 'ltr', copyrightYear: '2013' }

- var paths = { images: 'images', css: 'stylesheets/css', js: 'javascripts/js' }
