// Import base settings
@import "partials/_base";

// Reset css
@import "partials/_reset";

// Basic css
@import "partials/_scaffolding";

// Type css
@import "partials/_typography";

// Development stuff
@import "partials/_hashgrid";
//@import "partials/_holmes";

// mobile */
$total-columns: 12; // The number of Columns in your default Grid Layout <number> Unitless number.
$column-width: 60; // The width of a single Column in your Grid. <length> Length in any unit of measurement (em, px, %, etc).
$gutter-width: 20px; // The space between Columns. <length> Units must match $column-width.
$grid-padding: 0; // 24px

%container {
	@include container;
	position: relative;
}

@include grid(100%, $column-width, $gutter-width,  $grid-padding); 

.container {
	@extend %container;
}