// Functions
// -----------------------------------------------------------------
@function height($n) {
	@return $n * $base-line-height; 
}

// Convert PX units to EMs.
// Ex: margin-right: pem(16);
// ------------------
@function pem($pxval, $base: $base-font-size) {
  @return #{$pxval / $base}em;
}

// Mixins
// -----------------------------------------------------------------
@mixin grid($container-width, $column-width, $gutter-width, $grid-padding) {
	#grid {
		width: $container-width;
		margin-left: - $container-width / 2;
		.vert {
			margin-right: $gutter-width;
			width: $column-width;
			&.first-line {
				margin-left: $grid-padding;
			}
		}
	}
}

@mixin breakpoint($point) {
  @if $point == portrait {
    @media (min-width: 600px) { @content; }
  }
  @else if $point == landscape {
    @media (min-width: 900px) { @content; }
  }
}

// Webkit-style focus
// ------------------
@mixin tab-focus() {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

@mixin unstyled() {
	list-style: none;
	margin-left: 0;
}

// Theme mixin
// -------------------------
// Apply theme colors
@mixin theme($color) {
	.header, .footer, .body blockquote, .panel, .panel-divider, .icon-small {
		border-color: $color;
	}
	.collapse-arrow {
		border-bottom-color: $color;
	}
	.collapse .well {
		border-color: darken($color, 10);
	}
	.subhead li:before, .header-text, .panel, .pager, .label, .modal-header, .products-collapse, .blurb-box, .icon-group .icon-square, .table-header, .icon-small span, .product-box {
		background-color: $color;
	}
	.highlight, .body a {
		color: $color;
	}
	
}

// Sizing shortcuts
// -------------------------
@mixin size($height, $width) {
  width: $width;
  height: $height;
}
@mixin square($size) {
  @include size($size, $size);
}

// Popover arrows
// -------------------------
// For tipsies and popovers
@mixin popoverArrow-top($arrowWidth: 5px, $color: $black) {
  bottom: 0;
  left: 50%;
  margin-left: -$arrowWidth;
  border-left: $arrowWidth solid transparent;
  border-right: $arrowWidth solid transparent;
  border-top: $arrowWidth solid $color;
}
@mixin popoverArrow-left($arrowWidth: 5px, $color: $black) {
  top: 50%;
  right: 0;
  margin-top: -$arrowWidth;
  border-top: $arrowWidth solid transparent;
  border-bottom: $arrowWidth solid transparent;
  border-left: $arrowWidth solid $color;
}
@mixin popoverArrow-bottom($arrowWidth: 5px, $color: $black) {
  top: 0;
  left: 50%;
  margin-left: -$arrowWidth;
  border-left: $arrowWidth solid transparent;
  border-right: $arrowWidth solid transparent;
  border-bottom: $arrowWidth solid $color;
}
@mixin popoverArrow-right($arrowWidth: 5px, $color: $black) {
  top: 50%;
  left: 0;
  margin-top: -$arrowWidth;
  border-top: $arrowWidth solid transparent;
  border-bottom: $arrowWidth solid transparent;
  border-right: $arrowWidth solid $color;
}