// Typography
// Headings, body text, lists, code, and more for a versatile and durable typography system
// ----------------------------------------------------------------------------------------
/* @group =type */
p {
  margin: 0 0 rhythm(3) 0;
}

// HEADINGS
// --------
%fs1 {
  $font-size: 60px;
  @include adjust-font-size-to($font-size, 7); // 32px / 56px
  @include margin-trailer(2, $font-size); // 16px
}

%fs2 {
  $font-size: 48px;
  @include adjust-font-size-to($font-size, 6); // 48px / 48px
  @include margin-trailer(2, $font-size); // 16px
}

%fs3 {
  $font-size: 40px;
  @include adjust-font-size-to($font-size, 5); // 40px / 40px
  @include margin-trailer(2, $font-size); // 16px
}

%fs4 {
  @include adjust-font-size-to(32px, 4); // 32px/32px
}

%fs5 {
  @include adjust-font-size-to(24px, 3); // 24px/24px
}

%fs6 {
  @include adjust-font-size-to(18px, 3); // 18px/24px
}

h1, h2, h3, h4, h5, h6 {
  @extend %improve-text-rendering;
  color: $headings-color;
}

h1 {
  @extend %fs1;
}

h2 {
  @extend %fs2;
}

h3 {
  @extend %fs3;
}

h4 {
  @extend %fs4;
}

h5 {
  @extend %fs5;
}

h6 {
  @extend %fs6;
}

// LISTS
// -----
// Unordered and Ordered lists
ul, ol {
  margin: 0 0 rhythm(3) rhythm(3);
  padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {}

ul.unstyled,
ol.unstyled {
  @extend %unstyled;
}

// MISC
// ----
// Horizontal rules
hr {
  border: 0;
  @include margin-trailer(3);
  @include trailing-border(4px);
  border-color: $border-color;
  clear: both;
}

// Emphasis
strong {}

em {
  font-style: italic;
}

abbr[title] {
  cursor: help;
}

// Blockquotes
blockquote {
  margin: 0;
  @include margin-trailer(3);
  p {
    @include margin-trailer(0);
  }
}

// Quotes
//q:before,
//q:after,
//blockquote:before,
//blockquote:after {
//  content: "";
//}

// Addresses
address {
  @include margin-trailer(1);
  display: block;
  font-style: normal;
}

// Misc
small {
  font-size: 100%;
}

cite {}

/* @end */
