//
// Typography Variables
//

$header-font-family: $helvetica !default;
$header-font-weight: bold !default;
$header-font-style: normal !default;
$header-font-color: #333 !default;
//$header-line-height: 1.4 !default;
//$header-top-margin: .2em !default;
//$header-bottom-margin: .5em !default;
$header-text-rendering: optimizeLegibility !default;

// We use these to control header font sizes
$h1-font-size: 44px !default;
$h2-font-size: 37px !default;
$h3-font-size: 27px !default;
$h4-font-size: 23px !default;
$h5-font-size: 18px !default;
$h6-font-size: 16px !default;

// These control how subheaders are styled.
//$subheader-line-height: 1.4 !default;
//$subheading-font-color: lighten($headings-font-color, 30%) !default;
//$subheading-font-weight: 300 !default;
//$subheader-top-margin: .2em !default;
//$subheader-bottom-margin: .5em !default;

// A general <small> styling
$small-font-size: 60% !default;
$small-font-color: lighten($header-font-color, 30%) !default;

// We use these to style paragraphs
$paragraph-font-family: inherit !default;
$paragraph-font-size: $base-font-size !default;
$paragraph-font-weight: normal !default;
//$paragraph-line-height: pem($base-line-height *3) !default;
//$paragraph-margin-bottom: rhythm(3) !default;
$paragraph-text-rendering: optimizeLegibility !default;

// We use these to style <code> tags
$code-color: darken($alert-color, 15%) !default;
$code-font-family: $mono-font-family;
$code-font-weight: bold !default;

// We use these to style anchors
$anchor-text-decoration: none !default;
$anchor-font-color: $primary-color !default;
$anchor-font-color-hover: darken($primary-color, 5%) !default;

// We use these to style lists
$list-style-position: outside !default;
$list-side-margin: 0 !default;
$list-nested-margin: rhythm(3) !default;
$definition-list-header-weight: bold !default;
$definition-list-header-margin-bottom: .3em !default;
$definition-list-margin-bottom: rhythm(3) !default;

// We use these to style blockquotes
$blockquote-font-color: lighten($header-font-color, 30%) !default;
$blockquote-padding: emCalc(9px) emCalc(20px) 0 emCalc(19px) !default;
$blockquote-border: 1px solid #ddd !default;
$blockquote-cite-font-size: emCalc(13px) !default;
$blockquote-cite-font-color: lighten($header-font-color, 20%) !default;
$blockquote-cite-link-color: $blockquote-cite-font-color !default;

// Acronym styles
$acronym-underline: 1px dotted #ddd !default;

//
// Typography Placeholders
//

// These will throw a deprecation warning if used within a media query.
// %lead {
//   font-size: $paragraph-font-size + emCalc(3.5px);
//   line-height: 1.6;
// }

/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  direction: $text-direction;
  margin: 0;
  padding: 0;
}

/* Default Link Styles */
a {
  //@extend %transition-all;
  color: $link-color;
  line-height: inherit;
  text-decoration: $anchor-text-decoration;
  //-webkit-tap-highlight-color: transparent;
  @include single-transition(all .25s linear);

  &:hover,
  &:focus {
    color: $link-color-hover;
  }

  img {
    border:none;
  }
}

/* Default paragraph styles */
p {
  font-family: $paragraph-font-family;
  font-weight: $paragraph-font-weight;
  text-rendering: $paragraph-text-rendering;
  @include adjust-font-size-to($paragraph-font-size, 3);
  @include margin-trailer(3, $paragraph-font-size);
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  color: $header-font-color;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  text-rendering: $header-text-rendering;
}

h1 {
  @include adjust-font-size-to($h1-font-size);
  @include margin-trailer(3, $h1-font-size);
}

h2 {
  @include adjust-font-size-to($h2-font-size);
  @include margin-trailer(2, $h2-font-size);
}

h3 {
  @include adjust-font-size-to($h3-font-size);
  @include margin-trailer(2, $h3-font-size);
}

h4 {
  @include adjust-font-size-to($h4-font-size);
  @include margin-trailer(1, $h4-font-size);
}

h5 {
  @include adjust-font-size-to($h5-font-size);
  @include margin-trailer(1, $h5-font-size);
}

h6 {
  @include adjust-font-size-to($h6-font-size);
  @include margin-trailer(1, $h6-font-size);
}

// hr {
//   border: $hr-border-style $hr-border-color;
//   border-width: $hr-border-width 0 0;
//   clear: both;
//   margin: $hr-margin 0 ($hr-margin - emCalc(1px));
//   height: 0;
// }

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: $small-font-size;
  line-height: inherit;
}

code {
  font-family: $code-font-family;
  font-weight: $code-font-weight;
  color: $code-color;
}

/* Lists */

ul,
ol,
dl {
  font-family: $paragraph-font-family;
  list-style-position: $list-style-position;
  @include adjust-font-size-to($paragraph-font-size);
  @include margin-trailer(3);
}

ul,
ol {
  margin-#{$default-float}: $list-side-margin;
}

/* Unordered Lists */
ul {
  li {
    ul,
    ol {
      margin-#{$default-float}: $list-nested-margin;
      margin-bottom: 0;
      font-size: 1em; /* Override nested font-size change */
    }
  }
  &.square,
  &.circle,
  &.disc {
    li ul { list-style: inherit; }
  }

  &.square { list-style-type: square; }
  &.circle { list-style-type: circle; }
  &.disc { list-style-type: disc; }
  &.no-bullet { list-style: none; }
}

/* Ordered Lists */
ol {
  li {
    ul,
    ol {
      margin-#{$default-float}: $list-nested-margin;
      margin-bottom: 0;
    }
  }
}

/* Definition Lists */
dl {
  dt {
    margin-bottom: $definition-list-header-margin-bottom;
    font-weight: $definition-list-header-weight;
  }
  dd {
    margin-bottom: $definition-list-margin-bottom;
  }
}

li {}

ul.unstyled,
ol.unstyled {
  @extend %unstyled;
}

/* Abbreviations */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: $body-font-color;
  border-bottom: $acronym-underline;
  cursor: $cursor-help-value;
}

abbr {
  text-transform: none;
}

/* Blockquotes */
blockquote {
  margin: 0 0 rhythm(3);
  padding: $blockquote-padding;
  border-#{$default-float}: $blockquote-border;

  cite {
    display: block;
    font-size: $blockquote-cite-font-size;
    color: $blockquote-cite-font-color;
    &:before {
      content: "\2014 \0020";
    }

    a,
    a:visited {
      color: $blockquote-cite-link-color;
    }
  }
}
blockquote,
blockquote p {
  @include adjust-leading-to(3);
  color: $blockquote-font-color;
}

// MISC

hr {
  border: none;
  //@include margin-trailer(3);
  border-bottom-color: $border-color;
  clear: both;
  @include leading-border(2px, 3);

}

// Blockquotes

blockquote {
  margin: 0 0 rhythm(3) 0;
  p {
    @include margin-trailer(0);
  }
}

// Quotes

//q:before,
//q:after,
//blockquote:before,
//blockquote:after {
//  content: "";
//}

// Addresses

address {
  display: block;
  font-style: normal;
  @include margin-trailer(1);

}

// Misc

cite {}




