// COMPONENT ANIMATIONS
// --------------------

.fade {
  @extend %transition-opacity;
  @include opacity(0);
  &.in {
    @include opacity(100);
  }
}

.collapse {
  @include transform-style(preserve-3d);
  //@include transition(height .35s cubic-bezier(0.42, 0, 0.58, 1));
  @include transition(height .45s ease-in-out);
  height: 0;
  overflow: hidden;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0); // activate the GPU
  &.in {
    height: auto;
  }
}