//
// Grid variables
//

$total-columns: 12;
$column-width: 3.75em; // 60px
$gutter-width: 1.25em; // 20px
$grid-padding: 0.625em; // 10px
//$container-width: 23em; // 480px

// small
$small-total-columns: 4;
$small-column-width: $column-width;
$small-gutter-width: $gutter-width;
$small-grid-padding: $grid-padding; // 10px
$small-container-width: 30em; // 480px max width

// medium
$medium-total-columns: 8;
$medium-column-width: $column-width;
$medium-gutter-width: $gutter-width;
$medium-grid-padding: 4.625em; // 72px
$medium-container-width: 48em; // 768px max width

// large
$large-total-columns: 12;
$large-column-width: $column-width;
$large-gutter-width: $gutter-width;
$large-grid-padding: 2.625em; // 42px
$large-container-width: 64em; // 1280px max width

//
// Grid placeholders
//
#grid {
  left: 50%;
  position: absolute;
}

.vert {
  background-color: rgba(#3cfeff, 0.25);
  @include box-sizing(border-box);
}

.horiz {
  height: $base-line-height;
  &:nth-child(odd) {
    background-color: rgba(#609, 0.25);
  }
}

//
// Grid mixins
//

@mixin generate-grid($grid-id, $size: 'span', $total-columns: $total-columns, $column-width: $column-width, $gutter-width: $gutter-width) {

  // Generate span columns i.e .large-1
  @for $i from 1 through $total-columns {
    .#{$size}#{-$i} {
      @if $i == $total-columns {
        width: columns($i, $total-columns);
      } @else {
        @include span-columns($i, $total-columns);
      }
    }
  }

  // Generate push columns i.e .large-push-1
  @for $i from 1 through $total-columns - 1 {
    .#{$size}-push#{-$i} {
      @include push($i, $total-columns);
    }
  }

  // Generate pull columns i.e .large-pull-1
  @for $i from 1 through $total-columns - 1 {
    .#{$size}-pull#{-$i} {
      @include pull($i, $total-columns);
    }
  }

  // Generate omega class i.e .large-omega
  .#{$size}-omega {
    @include omega;
  }

  // Generate show class i.e .large-show
  .#{$size}-show {
    display: block;
  }

  // Generate hide class i.e large-hide
  .#{$size}-hide {
    display: none;
  }

  // Generate centered class ie. large-centered
  .#{$size}-centered {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  // Generate centered class ie. large-uncentered
  .#{$size}-uncentered {
    float: $default-float !important;
    margin-left: 0;
    margin-right: 0;
  }

  // Generate centered class ie. large-uncentered.opposite
  .#{$size}-uncentered.opposite {
    float: $omega-float !important;
  }

  .#{$size}-text-left {
    text-align: #{$default-float} !important;
  }

  .#{$size}-text-right {
    text-align: #{$opposite-direction} !important;
  }

  .#{$size}-text-center {
    text-align: center !important;
  }

  @include generate-hashgrid($grid-id, $total-columns, $column-width, $gutter-width, $grid-padding);

}

@mixin generate-hashgrid($grid-id, $total-columns, $column-width, $gutter-width, $grid-padding) {

  $width: $column-width * $total-columns + $gutter-width * ($total-columns - 1) + ($grid-padding * 2);

  #grid.grid-#{$grid-id} {
    margin-left: - ($width) / 2;
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    width: $width;
    @include box-sizing(border-box);
    //@include container;
  }

  #grid.grid-#{$grid-id} .vert {
    @include span-columns(1, $total-columns);
    @include nth-omega(#{$total-columns}n);
  }

}

// Generate block grid

// @mixin block-grid($size, $columns, $total-columns: $total-columns, $nth-omega: $total-columns / $columns, $remove-nth-omega: false) {
//   .#{$size}-block-grid-#{$columns}-#{$total-columns} > li {
//     @if $remove-nth-omega {
//       @include remove-nth-omega(#{$remove-nth-omega}n);
//     }
//     @include span-columns($columns, $total-columns);
//     @include nth-omega(#{$nth-omega}n);
//   }
// }

.columns {
  position: relative;
  @include pie-clearfix;
}

.column {
  position: relative;
}

// Grid media queries

@include respond-to($small) {

  .container {
    $grid-padding: $small-grid-padding;
    $container-width: $small-container-width;
    @include container();
  }

  @include generate-grid(1, $small, $small-total-columns, $small-column-width, $small-gutter-width);

}

@include respond-to($medium) {

  .container {
    $grid-padding: $medium-grid-padding;
    $container-width: $medium-container-width;
    @include container();
  }

  @include generate-grid(2, $medium, $medium-total-columns, $medium-column-width, $medium-gutter-width);

}

@include respond-to($large) {

  .container {
    $grid-padding: $large-grid-padding;
    $container-width: $large-container-width;
    @include container();
  }

  .#{$large}-1-2 { @include span-columns(1, 2); }
  .#{$large}-1-3 { @include span-columns(1, 3); }
  .#{$large}-2-3 { @include span-columns(2, 3); }
  .#{$large}-1-4 { @include span-columns(1, 4); }
  .#{$large}-2-4 { @include span-columns(2, 4); }
  .#{$large}-3-4 { @include span-columns(3, 4); }
  .#{$large}-1-5 { @include span-columns(1, 5); }
  .#{$large}-2-5 { @include span-columns(2, 5); }
  .#{$large}-3-5 { @include span-columns(3, 5); }
  .#{$large}-4-5 { @include span-columns(4, 5); }
  .#{$large}-1-6 { @include span-columns(1, 6); }
  .#{$large}-2-6 { @include span-columns(2, 6); }
  .#{$large}-3-6 { @include span-columns(3, 6); }
  .#{$large}-4-6 { @include span-columns(4, 6); }
  .#{$large}-5-6 { @include span-columns(5, 6); }
  .#{$large}-1-7 { @include span-columns(1, 7); }
  .#{$large}-2-7 { @include span-columns(2, 7); }
  .#{$large}-3-7 { @include span-columns(3, 7); }
  .#{$large}-4-7 { @include span-columns(4, 7); }
  .#{$large}-5-7 { @include span-columns(5, 7); }
  .#{$large}-6-7 { @include span-columns(6, 7); }
  .#{$large}-1-8 { @include span-columns(1, 8); }
  .#{$large}-2-8 { @include span-columns(2, 8); }
  .#{$large}-3-8 { @include span-columns(3, 8); }
  .#{$large}-4-8 { @include span-columns(4, 8); }
  .#{$large}-5-8 { @include span-columns(5, 8); }
  .#{$large}-6-8 { @include span-columns(6, 8); }
  .#{$large}-7-8 { @include span-columns(7, 8); }
  .#{$large}-1-9 { @include span-columns(1, 9); }
  .#{$large}-2-9 { @include span-columns(2, 9); }
  .#{$large}-3-9 { @include span-columns(3, 9); }
  .#{$large}-4-9 { @include span-columns(4, 9); }
  .#{$large}-5-9 { @include span-columns(5, 9); }
  .#{$large}-6-9 { @include span-columns(6, 9); }
  .#{$large}-7-9 { @include span-columns(7, 9); }
  .#{$large}-8-9 { @include span-columns(8, 9); }
  .#{$large}-1-10 { @include span-columns(1, 10); }
  .#{$large}-2-10 { @include span-columns(2, 10); }
  .#{$large}-3-10 { @include span-columns(3, 10); }
  .#{$large}-4-10 { @include span-columns(4, 10); }
  .#{$large}-5-10 { @include span-columns(5, 10); }
  .#{$large}-6-10 { @include span-columns(6, 10); }
  .#{$large}-7-10 { @include span-columns(7, 10); }
  .#{$large}-8-10 { @include span-columns(8, 10); }
  .#{$large}-9-10 { @include span-columns(9, 10); }
  .#{$large}-1-11 { @include span-columns(1, 11); }
  .#{$large}-2-11 { @include span-columns(2, 11); }
  .#{$large}-3-11 { @include span-columns(3, 11); }
  .#{$large}-4-11 { @include span-columns(4, 11); }
  .#{$large}-5-11 { @include span-columns(5, 11); }
  .#{$large}-6-11 { @include span-columns(6, 11); }
  .#{$large}-7-11 { @include span-columns(7, 11); }
  .#{$large}-8-11 { @include span-columns(8, 11); }
  .#{$large}-9-11 { @include span-columns(9, 11); }
  .#{$large}-10-11 { @include span-columns(10, 11); }
  .#{$large}-1-12 { @include span-columns(1, 12); }
  .#{$large}-2-12 { @include span-columns(2, 12); }
  .#{$large}-3-12 { @include span-columns(3, 12); }
  .#{$large}-4-12 { @include span-columns(4, 12); }
  .#{$large}-5-12 { @include span-columns(5, 12); }
  .#{$large}-6-12 { @include span-columns(6, 12); }
  .#{$large}-7-12 { @include span-columns(7, 12); }
  .#{$large}-8-12 { @include span-columns(8, 12); }
  .#{$large}-9-12 { @include span-columns(9, 12); }
  .#{$large}-10-12 { @include span-columns(10, 12); }
  .#{$large}-11-12 { @include span-columns(11, 12); }

  @include generate-grid(3, $large, $large-total-columns, $large-column-width, $large-gutter-width);

}
