.icon {
  @include hide-text;
  position: absolute;
  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
  }
}

.tab {
  @include size(pem(18px), pem(21px));
  background-color: $gray;
  border-right: pem(1px) solid $black;
  top: 0;
  right: 0;
  &:after,
  &:before {
    @include size(pem(6px), pem(9px));
    border-width: pem(2px) pem(1px);
    border-style: solid;
    border-color: $black;
  }
  &:after {
    background-color: $white;
    top: pem(6px);
    left: pem(7px);
    z-index: 1;
  }
  &:before {
    background-color: $gray;
    top: pem(2px);
    left: pem(3px);
  }
}

.close {
  @include size(pem(18px), pem(17px));
  border-right: pem(1px) solid $black;
  left: 0;
  &:after {
    @include size(pem(6px), pem(3px));
    background-color: $white;
    border: pem(1px) solid $black;
    left: pem(6px);
    top: pem(4px);
  }
}
