.example {
  $border-color: $black;
  $border-width: 1px;
  @include margin-trailer(3);
  @include rhythm-borders($border-width, 3);
  background-color: $white;
  border-color: $border-color;
  padding-top: rhythm(5);
  position: relative;
  &:after {
    $font-size: 12px;
    @include adjust-font-size-to($font-size);
    @include rhythm-borders($border-width, .6, $font-size);
    background-color: #f5f5f5;
    border-color: $border-color;
    color: #9da0a4;
    content: 'Example';
    font-weight: bold;
    left: -$border-width;
    position: absolute;
    top: -$border-width;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.pagination {
  @include delimited-list(' / ');
}

.docs .columns {
  background-color: #dedede;
}

.docs .column {
  //@extend %ellipsis-no-wrap;
  background-color: #ccc;
  text-align: center;
  @include padding-leader(1);
  @include padding-trailer(1);
}

.docs .column .column {
  background-color: #aaa;
  //@include stretch-y;
}

@include respond-to($small) {
  .docs .column {
    @include margin-trailer(2); // 16px
    &:last-child {
      @include margin-trailer(0);
    }
  }
}

@include respond-to($large) {
  .docs .columns {
    @include margin-trailer(2);
  }

  .docs .column {
    @include margin-trailer(0);
  }
}
