.example {
  $border-color: $black;
  $border-width: 1px;
  @include margin-trailer(3);
  @include rhythm-borders($border-width, 3);
  background-color: $white;
  border-color: $border-color;
  padding-top: rhythm(5);
  position: relative;
  &:after {
    $font-size: 12px;
    @include adjust-font-size-to($font-size);
    @include rhythm-borders($border-width, .6, $font-size);
    background-color: #f5f5f5;
    border-color: $border-color;
    color: #9da0a4;
    content: 'Example';
    font-weight: bold;
    left: -$border-width;
    position: absolute;
    top: -$border-width;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.pagination {
  @include delimited-list(' / ');
}
