extends layouts/_default

block title

  mixin title('Grid')

block main

  div(class='container')

    section(class='docs')
      h2 Default columns

      div(class='columns')
        div(class='large-1 column') 1
        div(class='large-1 column') 1
        div(class='large-1 column') 1
        div(class='large-1 column') 1
        div(class='large-1 column') 1
        div(class='large-1 column') 1
        div(class='large-1 column') 1
        div(class='large-1 column') 1
        div(class='large-1 column') 1
        div(class='large-1 column') 1
        div(class='large-1 column') 1
        div(class='large-1 large-omega column') 1

      div(class='columns')
        div(class='large-2 column') 2
        div(class='large-2 column') 2
        div(class='large-2 column') 2
        div(class='large-2 column') 2
        div(class='large-2 column') 2
        div(class='large-2 large-omega column') 2

      div(class='columns')
        div(class='large-3 column') 3
        div(class='large-3 column') 3
        div(class='large-3 column') 3
        div(class='large-3 large-omega column') 3

      div(class='columns')
        div(class='large-4 column') 4
        div(class='large-4 column') 4
        div(class='large-4 large-omega column') 4

      div(class='columns')
        div(class='large-5 column') 5
        div(class='large-7 large-omega column') 7

      div(class='columns')
        div(class='large-6 column') 6
        div(class='large-6 large-omega column') 6

      div(class='columns')
        div(class='large-7 column') 7
        div(class='large-5 large-omega column') 5

      div(class='columns')
        div(class='large-8 column') 8
        div(class='large-4 large-omega column') 4

      div(class='columns')
        div(class='large-9 column') 9
        div(class='large-3 large-omega column') 3

      div(class='columns')
        div(class='large-10 column') 10
        div(class='large-2 large-omega column') 2

      div(class='columns')
        div(class='large-11 column') 11
        div(class='large-1 large-omega column') 1

      div(class='columns')
        div(class='large-12 column') 12

    section(class='docs')
      h2 Push columns

      div(class='columns')
        div(class='large-1 large-push-1 column') 1

      div(class='columns')
        div(class='large-1 large-push-2 column') 1

      div(class='columns')
        div(class='large-1 large-push-3 column') 1

      div(class='columns')
        div(class='large-1 large-push-4 column') 1

      div(class='columns')
        div(class='large-1 large-push-5 column') 1

      div(class='columns')
        div(class='large-1 large-push-6 column') 1

      div(class='columns')
        div(class='large-1 large-push-7 column') 1

      div(class='columns')
        div(class='large-1 large-push-8 column') 1

      div(class='columns')
        div(class='large-1 large-push-9 column') 1

      div(class='columns')
        div(class='large-1 large-push-10 column') 1

      div(class='columns')
        div(class='large-1 large-push-11 column') 1

    section(class='docs')
      h2 Pull columns

      div(class='columns')
        div(class='large-1 large-omega large-pull-1 column') 1

      div(class='columns')
        div(class='large-1 large-omega large-pull-2 column') 1

      div(class='columns')
        div(class='large-1 large-push-3 column') 1

      div(class='columns')
        div(class='large-1 large-push-4 column') 1

      div(class='columns')
        div(class='large-1 large-push-5 column') 1

      div(class='columns')
        div(class='large-1 large-push-6 column') 1

      div(class='columns')
        div(class='large-1 large-push-7 column') 1

      div(class='columns')
        div(class='large-1 large-push-8 column') 1

      div(class='columns')
        div(class='large-1 large-push-9 column') 1

      div(class='columns')
        div(class='large-1 large-push-10 column') 1

      div(class='columns')
        div(class='large-1 large-push-11 column') 1

    section(class='docs')
      h2 Centered columns

      div(class='columns')
        div(class='large-1 large-centered column') 1

      div(class='columns')
        div(class='large-2 large-centered column') 2

      div(class='columns')
        div(class='large-3 large-centered column') 3

      div(class='columns')
        div(class='large-4 large-centered column') 4

      div(class='columns')
        div(class='large-5 large-centered column') 5

      div(class='columns')
        div(class='large-6 large-centered column') 6

      div(class='columns')
        div(class='large-7 large-centered column') 7

      div(class='columns')
        div(class='large-8 large-centered column') 8

      div(class='columns')
        div(class='large-9 large-centered column') 9

      div(class='columns')
        div(class='large-10 large-centered column') 10

      div(class='columns')
        div(class='large-11 large-centered column') 11

      div(class='columns')
        div(class='large-12 large-centered column') 12

    section(class='docs')
      h2 Uncentered columns

      div(class='columns')
        div(class='large-1 large-centered large-uncentered column') 1

      div(class='columns')
        div(class='large-2 large-centered large-uncentered column') 2

      div(class='columns')
        div(class='large-3 large-centered large-uncentered column') 3

      div(class='columns')
        div(class='large-4 large-centered large-uncentered column') 4

      div(class='columns')
        div(class='large-5 large-centered large-uncentered column') 5

      div(class='columns')
        div(class='large-6 large-centered large-uncentered column') 6

      div(class='columns')
        div(class='large-7 large-centered large-uncentered column') 7

      div(class='columns')
        div(class='large-8 large-centered large-uncentered column') 8

      div(class='columns')
        div(class='large-9 large-centered large-uncentered column') 9

      div(class='columns')
        div(class='large-10 large-centered large-uncentered column') 10

      div(class='columns')
        div(class='large-11 large-centered large-uncentered column') 11

      div(class='columns')
        div(class='large-12 large-centered large-uncentered column') 12

    section(class='docs')
      h2 Uncentered opposite columns

      div(class='columns')
        div(class='large-1 large-centered large-uncentered opposite column') 1

      div(class='columns')
        div(class='large-2 large-centered large-uncentered opposite column') 2

      div(class='columns')
        div(class='large-3 large-centered large-uncentered opposite column') 3

      div(class='columns')
        div(class='large-4 large-centered large-uncentered opposite column') 4

      div(class='columns')
        div(class='large-5 large-centered large-uncentered opposite column') 5

      div(class='columns')
        div(class='large-6 large-centered large-uncentered opposite column') 6

      div(class='columns')
        div(class='large-7 large-centered large-uncentered opposite column') 7

      div(class='columns')
        div(class='large-8 large-centered large-uncentered opposite column') 8

      div(class='columns')
        div(class='large-9 large-centered large-uncentered opposite column') 9

      div(class='columns')
        div(class='large-10 large-centered large-uncentered opposite column') 10

      div(class='columns')
        div(class='large-11 large-centered large-uncentered opposite column') 11

      div(class='columns')
        div(class='large-12 large-centered large-uncentered opposite column') 12

    section(class='docs')
      h2 Nested columns

      div(class='columns')
        div(class='large-2 column') 2
          div(class='columns')
            div(class='large-1-2 column') 1
            div(class='large-1-2 large-omega column') 1
        div(class='large-2 column') 2
          div(class='columns')
            div(class='large-1-2 column') 1
            div(class='large-1-2 large-omega column') 1
        div(class='large-2 column') 2
          div(class='columns')
            div(class='large-1-2 column') 1
            div(class='large-1-2 large-omega column') 1
        div(class='large-2 column') 2
          div(class='columns')
            div(class='large-1-2 column') 1
            div(class='large-1-2 large-omega column') 1
        div(class='large-2 column') 2
          div(class='columns')
            div(class='large-1-2 column') 1
            div(class='large-1-2 large-omega column') 1
        div(class='large-2 large-omega column') 2
          div(class='columns')
            div(class='large-1-2 column') 1
            div(class='large-1-2 large-omega column') 1

      div(class='columns')
        div(class='large-3 column') 3
          div(class='columns')
            div(class='large-2-3 column') 2
            div(class='large-1-3 large-omega column') 1
        div(class='large-3 column') 3
          div(class='columns')
            div(class='large-1-3 column') 1
            div(class='large-1-3 column') 1
            div(class='large-1-3 large-omega column') 1
        div(class='large-3 column') 3
          div(class='columns')
            div(class='large-1-3 column') 1
            div(class='large-1-3 column') 1
            div(class='large-1-3 large-omega column') 1
        div(class='large-3 large-omega column') 3
          div(class='columns')
            div(class='large-1-3 column') 1
            div(class='large-1-3 column') 1
            div(class='large-1-3 large-omega column') 1

      div(class='columns')
        div(class='large-4 column') 4
          div(class='columns')
            div(class='large-3-4 column') 3
            div(class='large-1-4 large-omega column') 1
        div(class='large-4 column') 4
          div(class='columns')
            div(class='large-2-4 column') 2
            div(class='large-2-4 large-omega column') 2
        div(class='large-4 large-omega column') 4
          div(class='columns')
            div(class='large-1-4 column') 1
            div(class='large-1-4 column') 1
            div(class='large-1-4 column') 1
            div(class='large-1-4 large-omega column') 1

      div(class='columns')
        div(class='large-5 column') 5
          div(class='columns')
            div(class='large-4-5 column') 4
            div(class='large-1-5 large-omega column') 1
        div(class='large-1 column') 1
        div(class='large-5 column') 5
          div(class='columns')
            div(class='large-4-5 column') 4
            div(class='large-1-5 large-omega column') 1
        div(class='large-1 large-omega column') 1

      div(class='columns')
        div(class='large-6 column') 6
          div(class='columns')
            div(class='large-5-6 column') 5
            div(class='large-1-6 large-omega column') 1

        div(class='large-6 large-omega column') 6
          div(class='columns')
            div(class='large-4-6 column') 4
            div(class='large-2-6 large-omega column') 2

      div(class='columns')
        div(class='large-6 column') 6
          div(class='columns')
            div(class='large-3-6 column') 3
            div(class='large-3-6 large-omega column') 3
        div(class='large-6 large-omega column') 6
          div(class='columns')
            div(class='large-2-6 column') 2
            div(class='large-2-6 column') 2
            div(class='large-2-6 large-omega column') 2

      div(class='columns')
        div(class='large-7 column') 7
          div(class='columns')
            div(class='large-6-7 column') 6
            div(class='large-1-7 large-omega column') 1
        div(class='large-5 large-omega column') 5

      div(class='columns')
        div(class='large-7 column') 7
          div(class='columns')
            div(class='large-5-7 column') 5
            div(class='large-2-7 large-omega column') 2
        div(class='large-5 large-omega column') 5

      div(class='columns')
        div(class='large-7 column') 7
          div(class='columns')
            div(class='large-4-7 column') 4
            div(class='large-3-7 large-omega column') 3
        div(class='large-5 large-omega column') 5

      div(class='columns')
        div(class='large-7 column') 7
          div(class='columns')
            div(class='large-1-7 column') 1
            div(class='large-1-7 column') 1
            div(class='large-1-7 column') 1
            div(class='large-1-7 column') 1
            div(class='large-1-7 column') 1
            div(class='large-1-7 column') 1
            div(class='large-1-7 large-omega column') 1
        div(class='large-5 large-omega column') 5

      div(class='columns')
        div(class='large-8 column') 8
          div(class='columns')
            div(class='large-7-8 column') 7
            div(class='large-1-8 large-omega column') 1
        div(class='large-4 large-omega column') 4

      div(class='columns')
        div(class='large-8 column') 8
          div(class='columns')
            div(class='large-6-8 column') 6
            div(class='large-2-8 large-omega column') 2
        div(class='large-4 large-omega column') 4

      div(class='columns')
        div(class='large-8 column') 8
          div(class='columns')
            div(class='large-5-8 column') 5
            div(class='large-3-8 large-omega column') 3
        div(class='large-4 large-omega column') 4

      div(class='columns')
        div(class='large-8 column') 8
          div(class='columns')
            div(class='large-4-8 column') 4
            div(class='large-4-8 large-omega column') 4
        div(class='large-4 large-omega column') 4

      div(class='columns')
        div(class='large-8 column') 8
          div(class='columns')
            div(class='large-3-8 column') 3
            div(class='large-3-8 column') 3
            div(class='large-2-8 large-omega column') 2
        div(class='large-4 large-omega column') 4

      div(class='columns')
        div(class='large-8 column') 8
          div(class='columns')
            div(class='large-1-8 column') 1
            div(class='large-1-8 column') 1
            div(class='large-1-8 column') 1
            div(class='large-1-8 column') 1
            div(class='large-1-8 column') 1
            div(class='large-1-8 column') 1
            div(class='large-1-8 column') 1
            div(class='large-1-8 large-omega column') 1
        div(class='large-4 large-omega column') 4

      div(class='columns')
        div(class='large-9 column') 9
          div(class='columns')
            div(class='large-8-9 column') 8
            div(class='large-1-9 large-omega column') 1
        div(class='large-3 large-omega column') 3

      div(class='columns')
        div(class='large-9 column') 9
          div(class='columns')
            div(class='large-7-9 column') 7
            div(class='large-2-9 large-omega column') 2
        div(class='large-3 large-omega column') 3

      div(class='columns')
        div(class='large-9 column') 9
          div(class='columns')
            div(class='large-6-9 column') 6
            div(class='large-3-9 large-omega column') 3
        div(class='large-3 large-omega column') 3

      div(class='columns')
        div(class='large-9 column') 9
          div(class='columns')
            div(class='large-5-9 column') 5
            div(class='large-4-9 large-omega column') 4
        div(class='large-3 large-omega column') 3

      div(class='columns')
        div(class='large-9 column') 9
          div(class='columns')
            div(class='large-3-9 column') 3
            div(class='large-3-9 column') 3
            div(class='large-3-9 large-omega column') 3
        div(class='large-3 large-omega column') 3

      div(class='columns')
        div(class='large-9 column') 9
          div(class='columns')
            div(class='large-1-9 column') 1
            div(class='large-1-9 column') 1
            div(class='large-1-9 column') 1
            div(class='large-1-9 column') 1
            div(class='large-1-9 column') 1
            div(class='large-1-9 column') 1
            div(class='large-1-9 column') 1
            div(class='large-1-9 column') 1
            div(class='large-1-9 large-omega column') 1
        div(class='large-3 large-omega column') 3

      div(class='columns')
        div(class='large-10 column') 10
          div(class='columns')
            div(class='large-9-10 column') 9
            div(class='large-1-10 large-omega column') 1
        div(class='large-2 large-omega column') 2

      div(class='columns')
        div(class='large-10 column') 10
          div(class='columns')
            div(class='large-8-10 column') 8
            div(class='large-2-10 large-omega column') 2
        div(class='large-2 large-omega column') 2

      div(class='columns')
        div(class='large-10 column') 10
          div(class='columns')
            div(class='large-7-10 column') 7
            div(class='large-3-10 large-omega column') 3
        div(class='large-2 large-omega column') 2

      div(class='columns')
        div(class='large-10 column') 10
          div(class='columns')
            div(class='large-6-10 column') 6
            div(class='large-4-10 large-omega column') 4
        div(class='large-2 large-omega column') 2

      div(class='columns')
        div(class='large-10 column') 10
          div(class='columns')
            div(class='large-5-10 column') 5
            div(class='large-5-10 large-omega column') 5
        div(class='large-2 large-omega column') 2

      div(class='columns')
        div(class='large-10 column') 10
          div(class='columns')
            div(class='large-2-10 column') 2
            div(class='large-2-10 column') 2
            div(class='large-2-10 column') 2
            div(class='large-2-10 column') 2
            div(class='large-2-10 large-omega column') 2
        div(class='large-2 large-omega column') 2

      div(class='columns')
        div(class='large-10 column') 10
          div(class='columns')
            div(class='large-1-10 column') 1
            div(class='large-1-10 column') 1
            div(class='large-1-10 column') 1
            div(class='large-1-10 column') 1
            div(class='large-1-10 column') 1
            div(class='large-1-10 column') 1
            div(class='large-1-10 column') 1
            div(class='large-1-10 column') 1
            div(class='large-1-10 column') 1
            div(class='large-1-10 large-omega column') 1
        div(class='large-2 large-omega column') 2

      div(class='columns')
        div(class='large-11 column') 11
          div(class='columns')
            div(class='large-10-11 column') 10
            div(class='large-1-11 large-omega column') 1
        div(class='large-1 large-omega column') 1

      div(class='columns')
        div(class='large-11 column') 11
          div(class='columns')
            div(class='large-9-11 column') 9
            div(class='large-2-11 large-omega column') 2
        div(class='large-1 large-omega column') 1

      div(class='columns')
        div(class='large-11 column') 11
          div(class='columns')
            div(class='large-8-11 column') 8
            div(class='large-3-11 large-omega column') 3
        div(class='large-1 large-omega column') 1

      div(class='columns')
        div(class='large-11 column') 11
          div(class='columns')
            div(class='large-7-11 column') 7
            div(class='large-4-11 large-omega column') 4
        div(class='large-1 large-omega column') 1

      div(class='columns')
        div(class='large-11 column') 11
          div(class='columns')
            div(class='large-6-11 column') 6
            div(class='large-5-11 large-omega column') 5
        div(class='large-1 large-omega column') 1

      div(class='columns')
        div(class='large-11 column') 11
          div(class='columns')
            div(class='large-1-11 column') 1
            div(class='large-1-11 column') 1
            div(class='large-1-11 column') 1
            div(class='large-1-11 column') 1
            div(class='large-1-11 column') 1
            div(class='large-1-11 column') 1
            div(class='large-1-11 column') 1
            div(class='large-1-11 column') 1
            div(class='large-1-11 column') 1
            div(class='large-1-11 column') 1
            div(class='large-1-11 large-omega column') 1
        div(class='large-1 large-omega column') 1

      div(class='columns')
        div(class='large-12 column') 12
          div(class='columns')
            div(class='large-11-12 column') 11
            div(class='large-1-12 large-omega column') 1

      div(class='columns')
        div(class='large-12 column') 12
          div(class='columns')
            div(class='large-10-12 column') 10
            div(class='large-2-12 large-omega column') 2

      div(class='columns')
        div(class='large-12 column') 12
          div(class='columns')
            div(class='large-9-12 column') 9
            div(class='large-3-12 large-omega column') 3

      div(class='columns')
        div(class='large-12 column') 12
          div(class='columns')
            div(class='large-8-12 column') 8
            div(class='large-4-12 large-omega column') 4

      div(class='columns')
        div(class='large-12 column') 12
          div(class='columns')
            div(class='large-7-12 column') 7
            div(class='large-5-12 large-omega column') 5

      div(class='columns')
        div(class='large-12 column') 12
          div(class='columns')
            div(class='large-6-12 column') 6
            div(class='large-6-12 large-omega column') 6

      div(class='columns')
        div(class='large-12 column') 12
          div(class='columns')
            div(class='large-4-12 column') 4
            div(class='large-4-12 column') 4
            div(class='large-4-12 large-omega column') 4

      div(class='columns')
        div(class='large-12 column') 12
          div(class='columns')
            div(class='large-3-12 column') 3
            div(class='large-3-12 column') 3
            div(class='large-3-12 column') 3
            div(class='large-3-12 large-omega column') 3

      div(class='columns')
        div(class='large-12 column') 12
          div(class='columns')
            div(class='large-2-12 column') 2
            div(class='large-2-12 column') 2
            div(class='large-2-12 column') 2
            div(class='large-2-12 column') 2
            div(class='large-2-12 column') 2
            div(class='large-2-12 large-omega column') 2

      div(class='columns')
        div(class='large-12 column') 12
          div(class='columns')
            div(class='large-1-12 column') 1
            div(class='large-1-12 column') 1
            div(class='large-1-12 column') 1
            div(class='large-1-12 column') 1
            div(class='large-1-12 column') 1
            div(class='large-1-12 column') 1
            div(class='large-1-12 column') 1
            div(class='large-1-12 column') 1
            div(class='large-1-12 column') 1
            div(class='large-1-12 column') 1
            div(class='large-1-12 column') 1
            div(class='large-1-12 large-omega column') 1

    div(class='columns', hidden)
      div(class='large-12 large-centered m-9 m-centered l-4 l-uncentered xl-6 xl-centered xxl-10 xxl-uncentered.opposite column')
        div(class='large-show m-hide l-hide xl-hide xxl-hide') .large-12 .large-centered
        div(class='large-hide m-show l-hide xl-hide xxl-hide') .m-9 .m-centered
        div(class='large-hide m-hide l-show xl-hide xxl-hide') .l-4 .l-uncentered
        div(class='large-hide m-hide l-hide xl-show xxl-hide') .xl-6 .xl-centered
        div(class='large-hide m-hide l-hide xl-hide xxl-show') .xxl-6 .xxl-uncentered.opposite

    div(class='columns', hidden)
      div(class='large-12 m-12 l-4 xl-4 xxl-6')
        div(class='column')
          div(class='large-show m-hide l-hide xl-hide xxl-hide') .large-12
          div(class='large-hide m-show l-hide xl-hide xxl-hide') .m-12
          div(class='large-hide m-hide l-show xl-hide xxl-hide') .l-4
          div(class='large-hide m-hide l-hide xl-show xxl-hide') .xl-4
          div(class='large-hide m-hide l-hide xl-hide xxl-show') .xxl-6x1

      div(class='large-12 m-6 l-8 l-omega xl-4 xxl-6 xxl-omega')
        div(class='column')
          div(class='large-show m-hide l-hide xl-hide xxl-hide') .large-12
          div(class='large-hide m-show l-hide xl-hide xxl-hide') .m-6
          div(class='large-hide m-hide l-show xl-hide xxl-hide') .l-8
          div(class='large-hide m-hide l-hide xl-show xxl-hide') .xl-4
          div(class='large-hide m-hide l-hide xl-hide xxl-show') .xxl-6x2

      div(class='large-6 m-6 m-omega l-8 xl-4 xl-omega xxl-6')
        div(class='column')
          div(class='large-show m-hide l-hide xl-hide xxl-hide') .large-6
          div(class='large-hide m-show l-hide xl-hide xxl-hide') .m-6
          div(class='large-hide m-hide l-show xl-hide xxl-hide') .l-8
          div(class='large-hide m-hide l-hide xl-show xxl-hide') .xl-4
          div(class='large-hide m-hide l-hide xl-hide xxl-show') .xxl-6x1

      div(class='large-6 large-omega m-12 l-4 l-omega xl-12 xxl-6 xxl-omega')
        div(class='column')
          div(class='large-show m-hide l-hide xl-hide xxl-hide') .large-6
          div(class='large-hide m-show l-hide xl-hide xxl-hide') .m-12
          div(class='large-hide m-hide l-show xl-hide xxl-hide') .l-4
          div(class='large-hide m-hide l-hide xl-show xxl-hide') .xl-12
          div(class='large-hide m-hide l-hide xl-hide xxl-show') .xxl-6x2


