extends default

block main

  h1 Lance Guyatt
  h2 Heading 2
  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.!!!!
  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

block scripts
  script(src='#{paths.js}/vendor.min.js')
  script(src='#{paths.js}/application.js')
