.example {
  $border-color: #eee;
  $border-width: 1px;

  background-color: $white;
  border-color: $border-color;
  padding-top: rhythm(5);
  position: relative;

  @include margin-trailer(3);
  @include rhythm-borders($border-width, 3);

  &:after {
    $font-size: 12px;
    background-color: #f5f5f5;
    border-color: $border-color;
    color: #9da0a4;
    content: 'Example';
    font-weight: bold;
    left: -$border-width;
    position: absolute;
    top: -$border-width;
    @include adjust-font-size-to($font-size);
    @include rhythm-borders($border-width, .6, $font-size);
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.pagination {
  @include delimited-list(' / ');
}

.columns {
  @extend %pie-clearfix;

  .docs & {
    background-color: #dedede;
    @include margin-trailer(3);
  }

  .columns {
    @include margin-trailer(0);
  }
}

.column {

  .docs & {
    background-color: #ccc;
    text-align: center;
    @include margin-trailer(3);
    @include padding-leader(1);
    @include padding-trailer(1);
  }

  // &:last-child {
  //   @include margin-trailer(0);
  // }
}

.columns .columns {
  @include margin-leader(3);
}

.docs .columns .column:last-child {
  //background: blue !important;
  @include margin-trailer(0);
}

// @include at-breakpoint($medium-media-layout) {
// }

@include at-breakpoint($large-media-layout) {

  .stretch {
    #{$opposite-direction}: 0;
    @include stretch-y;
  }

  .docs .column {
    @include margin-trailer(0);
  }

  .columns > div + div:last-child {
    @include omega;
  }
}
