$base-line-height: 8px !default;

@mixin hash-grid($container-width, $column-width, $gutter-width, $grid-padding) {
  #grid {
    width: $container-width;
    margin-left: - $container-width / 2;
    .vert {
      margin-right: $gutter-width;
      width: $column-width;
      &.first-line {
        margin-left: $grid-padding;
      }
    }
  }
}

#grid {
  left: 50%;
  position: absolute;
}

.vert {
  @include box-sizing(border-box);
  .grid-1 & {
    background-color: rgba(#3cfeff, 0.25);
  }
  .grid-2 & {
    border: solid rgba(#3cfeff, 1);
    border-width: 0 1px;
  }
}

.horiz {
  height: $base-line-height;
  &:nth-child(odd) {
    background-color: rgba(#609, 0.25);
  }
}