$base-line-height: 8px !default;

@mixin hashgrid($total-columns, $column-width, $gutter-width, $grid-padding) {

  $width: $column-width * $total-columns + $gutter-width * ($total-columns - 1) + ($grid-padding * 2);

  #grid {
    margin-left: - ($width) / 2;
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    width: $width;
    @include box-sizing(border-box);
    .vert {
      @include span-columns(1, $total-columns);
      @include nth-omega(#{$total-columns}n);
      //width: $column-width;
      // &.first-line {
      //   margin-left: $grid-padding;
      // }
    }
  }
}

#grid {
  left: 50%;
  position: absolute;
}

.vert {
  @include box-sizing(border-box);
  .grid-1 & {
    background-color: rgba(#3cfeff, 0.25);
  }
  .grid-2 & {
    border: solid rgba(#3cfeff, 1);
    border-width: 0 1px;
  }
}

.horiz {
  height: $base-line-height;
  &:nth-child(odd) {
    background-color: rgba(#609, 0.25);
  }
}
