%unstyled {
  list-style: none;
  margin-left: 0;
}

%box-sizing-border-box {
  @include box-sizing(border-box);
}

%clearfix {
  @include clearfix;
}

%hide-text {
  @include hide-text();
}

%inline-block {
  @include inline-block;
}

@mixin font-smoothing($value) {
  @include experimental('font-smoothing', $value);
}

@mixin text-rendering($value) {
  @include experimental('text-rendering', $value);
}

@mixin font-feature-settings($value) {
  @include experimental('font-feature-settings', $value);
}




//  Sharpen an image if it has become blurry due to upscaling or downscaling
//  @see https://developer.mozilla.org/en/CSS/image-rendering

%sharpen-image {
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE 7+ */
}

//  When photos are upscaled or downscaled, they often get blurry. Don't use
//  this on flat color images, they will still appear blurry.
//  @see https://developer.mozilla.org/en/CSS/image-rendering

%high-quality-image {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;  /* IE 7+ */
}

//  Optimizes the rendering on images so they
//  appear faster, but at a lower quality. Useful for <video>

%low-quality-image {
  image-rendering: optimizeSpeed;
}

$default-transition-property: all;
$default-transition-duration: .25s;
$default-transition-function: ease;
$default-transition-delay: .25s;

%transition-all {
  @include single-transition(all, $default-transition-duration, $default-transition-function, 0);
}

%transition-background-color {
  @include single-transition(background-color, $default-transition-duration, $default-transition-function, 0);
}

%transition-background-color-color {
  @include transition-delay(0);
  @include transition-duration($default-transition-duration);
  @include transition-property(background-color, color);
  @include transition-timing-function($default-transition-function);
}

%transition-border-color {
  @include single-transition(border-color, $default-transition-duration, $default-transition-function, 0);
}

%transition-color {
  @include single-transition(color, $default-transition-duration, $default-transition-function, 0);
}

%transition-opacity {
  @include single-transition(opacity, $default-transition-duration, $default-transition-function, 0);
}
