%backface-visibility-hidden {
  @include backface-visibility(hidden);
  //backface-visibility: hidden;
}

%disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
}

%base-border-radius {
  //@include border-radius(rhythm(1)); // 6px
  border-radius: rhythm(1); // 6px
}

%border-radius-none {
  //@include border-radius(0);
  border-radius: 0;
}

%base-border-top-radius {
  border-top-right-radius: rhythm(1); // 6px
  border-top-left-radius: rhythm(1); // 6px
}

%base-border-left-radius {
  @include border-left-radius(rhythm(1)); // 6px
}

%base-border-right-radius {
  border-top-right-radius: rhythm(1); // 6px
  border-bottom-right-radius: rhythm(1); // 6px
}

%border-radius {
  border-radius: rhythm(1); // 6px
}

%border-radius-half {
  //@include border-radius(50%);
  border-radius: 50%;
}

%no-bullet {
  @include no-bullet;
}

%unstyled {
  list-style: none;
  margin-#{$default-float}: 0;
}

%box-sizing-border-box {
  //@include box-sizing(border-box);
  box-sizing: border-box;
}

%box-shadow-default {
  @include box-shadow(rhythm(.5) rhythm(.5) rhythm(.5) rgba(#000, .5));
}

%box-shadow-active {
  @include box-shadow(rhythm(1) rhythm(1) rhythm(1) rgba(#000, .5));
}

/* @group =clearfix */
%clearfix {
  @include clearfix;
}

.clearfix {
  @extend %clearfix;
}
/* @end */

/* @group =pie-clearfix */
%pie-clearfix {
  @include pie-clearfix;
}
/* @end */

/* @group =default-float */
%default-float {
  @include float($default-float);
}
/* @end */

/* @group =inline-block */
%inline-block {
  @include inline-block(middle);
}
/* @end */

/* @group =inline-block-middle */
%inline-block-middle {
  @include inline-block(middle);
}
/* @end */

/* @group =inline-block-top */
%inline-block-top {
  @include inline-block(top);
}
/* @end */

%hide-text {
  @include hide-text;
}

%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%remove-ellipsis {
  max-width: none;
  text-overflow: clip;
}

/* @group =user-select-none */
%user-select-none {
  //@include user-select(none);
  user-select: none;
}
/* @end */

// @mixin text-rendering($value) {
//   @include experimental('text-rendering', $value);
// }

// @mixin font-feature-settings($value) {
//   @include experimental('font-feature-settings', $value);
// }

//  Sharpen an image if it has become blurry due to upscaling or downscaling
//  @see https://developer.mozilla.org/en/CSS/image-rendering

%sharpen-image {
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE 7+ */
}

//  When photos are upscaled or downscaled, they often get blurry. Don't use
//  this on flat color images, they will still appear blurry.
//  @see https://developer.mozilla.org/en/CSS/image-rendering

%high-quality-image {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;  /* IE 7+ */
}

//  Optimizes the rendering on images so they
//  appear faster, but at a lower quality. Useful for <video>
%low-quality-image {
  image-rendering: optimizeSpeed;
}

%grayscale {
  filter: grayscale(1);
}

$default-transition-property: all;
$default-transition-duration: .25s;
$default-transition-function: ease;
$default-transition-delay: .25s;

%transition-all {
  transition: all $default-transition-duration $default-transition-function;
}

%transition-box-shadow {
  transition: box-shadow $default-transition-duration $default-transition-function;
}

%transition-background-color {
  transition: background-color $default-transition-duration $default-transition-function;
}

%transition-background-border-color {
  transition-duration: $default-transition-duration;
  transition-property: background-color, border-color, color;
  transition-timing-function: $default-transition-function;
}

%transition-background-color-color {
 transition-duration: $default-transition-duration;
 transition-property: background-color, color;
 transition-timing-function: $default-transition-function;
}

%transition-border-color {
  transition: border-color $default-transition-duration $default-transition-function;
}

%transition-color {
  transition: color $default-transition-duration $default-transition-function;
}

%transition-opacity {
  transition: opacity $default-transition-duration $default-transition-function;
}
