%no-bullet {
  @include no-bullet;
}

%unstyled {
  list-style: none;
  margin-#{$default-float}: 0;
}

%box-sizing-border-box {
  @include box-sizing(border-box);
}
/* @group =clearfix */
%clearfix {
  @include clearfix;
}
/* @end */

/* @group =pie-clearfix */
%pie-clearfix {
  @include pie-clearfix;
}
/* @end */

%hide-text {
  @include hide-text();
}

%inline-block {
  @include inline-block;
}

%hide-text {
  @include hide-text;
}

%ellipsis {
  @include ellipsis;
}

%float-left {
  @include float($default-float);
}

%background-size-cover {
  @include background-size(cover);
}

%backface-visibility-hidden {
  @include backface-visibility(hidden);
}

%stretch {
  @include stretch;
}

%border-radius-half {
  @include border-radius(50%);
}


// @mixin text-rendering($value) {
//   @include experimental('text-rendering', $value);
// }

// @mixin font-feature-settings($value) {
//   @include experimental('font-feature-settings', $value);
// }

//  Sharpen an image if it has become blurry due to upscaling or downscaling
//  @see https://developer.mozilla.org/en/CSS/image-rendering

%sharpen-image {
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE 7+ */
}

//  When photos are upscaled or downscaled, they often get blurry. Don't use
//  this on flat color images, they will still appear blurry.
//  @see https://developer.mozilla.org/en/CSS/image-rendering

%high-quality-image {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;  /* IE 7+ */
}

//  Optimizes the rendering on images so they
//  appear faster, but at a lower quality. Useful for <video>

%low-quality-image {
  image-rendering: optimizeSpeed;
}

$default-transition-property: all;
$default-transition-duration: .25s;
$default-transition-function: linear;
$default-transition-delay: .25s;

%transition-all {
  @include transition(all $default-transition-duration $default-transition-function);
}

%transition-background-color {
  @include transition(background-color $default-transition-duration $default-transition-function);
}

%transition-background-color-color {
  @include transition-delay(0);
  @include transition-duration($default-transition-duration);
  @include transition-property(background-color, color);
  @include transition-timing-function($default-transition-function);
}

%transition-border-color {
  @include transition(border-color $default-transition-duration $default-transition-function);
}

%transition-color {
  @include transition(color $default-transition-duration $default-transition-function);
}

%transition-opacity {
  @include transition(opacity $default-transition-duration $default-transition-function);
}
