// ACCORDION
// ---------
// Parent container

%accordion-text {
	@extend %bold;
	@include adjust-font-size-to($base-font-size * 1.5, 6); // 24px / 48px
	@include padding-leader(1);
	@include padding-trailer(1);
	display: block;
	padding-left: 12px;
	padding-right: 12px;
}

.accordion {
	p {
		@include trailer(1);
	}
	.icon-button {
		@extend %accordion-text;
	}
	.icon-disc {
		margin-right: 6px;
	}
}

.accordion-toggle {
	@extend %accordion-text;
}

.accordion-body {
	@include leading-border(2px, 1);
	border-color: $white;
	//&.in {
	//	border-color: $yellow;
	//}
}

.accordion-inner {
	@include padding-leader(1);
	@include padding-trailer(2);
	background-color: $white;
	margin-left: 6px;
	padding-left: 18px;
	padding-right: 24px;
}
