.btn {
	@include adjust-font-size-to($base-font-size * .75, 2); // 12px/16px
	@include border-radius(6px);
	@include inline-block;
	background-color: #767676;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(50%, transparent), color-stop(50%, rgba(0,0,0,.5)), color-stop(100%, rgba(0,0,0,.5)));
	color: $white;
	font-family: $helvetica;
	font-weight: bold;
	height: 30px;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 30px;
	text-shadow: 0 -1px 1px #000;
}

.modal-header {
	.btn {
		margin: 7px 14px 0 0;
	}
}