$base-line-height: 9px !default;

#grid {
	left: 50%;
	position: absolute;
	top: 0;
	.vert {
		@include box-sizing(border-box);
		border: solid #3cfeff;
		border-width: 0 1px;
		margin-right: gutters(1);
		width: columns(1);
	}
	.horiz {
		@include box-sizing(border-box);
		height: $base-line-height;
		&:nth-child(odd) {
			background-color: rgba(102, 0, 153, 0.3);
		}
	}
}

.grid {
	position: fixed;
	top: 0;
	right: 0;
	width: 44px;
	height: 44px;
	overflow: hidden;
	//&[data-toggle="grid"] {
	//	background: red;
	//}
	//&[data-toggle="index"] {
	//	background: green;
	//	right: 44px;
	//}
}