// SPRITES
// Glyphs and icons for buttons, nav, and more
// -------------------------------------------
// ICONS
// -----
/* @group =icons */
/* @group =icon-button */
button {
	border: 0;
	padding: 0;
	background: none;
	text-align: left;
	-webkit-tap-highlight-color: transparent;
}
.icon-button {
	@include clearfix;
	display: block;
	.icon-image {
		float: left;
		margin-right: 12px;
	}
	.icon-square {
		float: left;
	}
	.icon-text {
		float: left;
	}
}
/* @end */

/* @group =icon-group */
.icon-group {
	.icon-square {
		background-color: $red;
	}
}
/* @end */

/* @group =icon-text */
.icon-text {
	font-family: $meta-bold;
	strong {
		display: block;
	}
}
/* @end */

/* @group =icon-disc */
.icon-disc {
	@include border-radius(44px);
	@include box-sizing(border-box);
	@include inline-block;
	@include square(44px);
	border: 3px solid $black;
	position: relative;
	span {
		@include border-radius(30px);
		@include square(30px);
		background-color: $black;
		background-repeat: no-repeat;
		background-image: inline-image('../img/icons/icon-disc-light.svg');
		display: block;
		position: absolute;
		left: 50%;
		margin: -15px 0 0 -15px;
		top: 50%;
	}
}
.icon-current {
	border-color: $gray-dark;
	span {
		background-color: $gray-dark;
	}
}

.icon-small {
	@include border-radius(30px);
	@include square(30px);
	background-color: $white;
	border-color: $red;
	border-width: 3px;
	span {
		@include border-radius(20px);
		@include square(20px);
		background-color: $red;
		background-image: inline-image('../img/icons/icon-disc-info-light.png');
		margin: -10px 0 0 -10px;
	}
}

.icon-info {
	background-position: 50% 50%;
}


.icon-info span     { background-position: 0 		 0; }
.icon-expand span   { background-position: -30px 0; }
.icon-collapse span { background-position: -60px 0; }
/* @end */

%icon-square-dark-sprite {
	background-image: inline-image('../img/icons/icons-square-dark.png');
}

%icon-square-light-sprite {
	background-image: inline-image('../img/icons/icons-square-light.png');
}

/* @group =icon-square */
.icon-square {
	@extend %icon-square-dark-sprite;
	@include border-radius(6px);
	@include hide-text;
	@include inline-block;
	@include square(38px);
	background-repeat: no-repeat;
	border: 3px solid $black;
	position: relative;
	margin: 2px 12px 2px 0;
}

.icon-photo1  { background-position: 0      0; }
.icon-photo2  { background-position: -38px  0; }
.icon-photo3  { background-position: -76px  0; }
.icon-photo4  { background-position: -114px 0; }
.icon-photo5  { background-position: -152px 0; }
.icon-photo6  { background-position: -190px 0; }
.icon-photo7  { background-position: -228px 0; }
.icon-photo8  { background-position: -266px 0; }
.icon-photo9  { background-position: -304px 0; }
.icon-video   { background-position: -343px 0; }
.icon-email   { background-position: -380px 0; background-color: rgba($white, 0.4); }
.icon-ratings { background-position: -418px 0; }
.icon-compare { background-position: -456px 0; }
.icon-specs   { background-position: -494px 0; }
.icon-twitter { background-position: -532px 0; background-color: rgba($white, 0.4); }

.banner {
	.icon-square {
		background-image: inline-image('../img/icons/icons-square-light.png');
		background-color: $red;
		border-color: $white;
	}
}
/* @end */

/* @group =ratings */
.ratings {}
.ratings-wrapper {
	@include horizontal-borders(1px, 1);
	@include margin-trailer(1);
}
.icon-rating {
	@include size(20px, 113px);
	@include inline-block();
	position: relative;
	top: -4px;
	left: 5px;
	background-image: inline-image('../img/icons/icon-rating-dark.svg');
	background-repeat: no-repeat;
}
.icon-rating1 { background-position: 0 0; }
.icon-rating2 { background-position: 0 -20px; }
.icon-rating3 { background-position: 0 -40px; }
.icon-rating4 { background-position: 0 -60px; }
.icon-rating5 { background-position: 0 -80px; }
/* @end */

/* @group =icon-specs */
.icon-key {
	@include inline-block;
	@include size(24px, 24px);
	background-image: inline-image('../img/icons/icon-key-light.svg'); 
	background-repeat: no-repeat;
}

.icon-costs 			{ background-position: 0 0; }
.icon-performance { background-position: -24px 0; }
.icon-warning 		{ background-position: -48px 0; }
.icon-practical 	{ background-position: -72px 0; }

/* @end */

/* @group =icon-point */
.icon-point {
	@include size(30px, 25px);
	background-image: inline-image('../img/icons/icon-point-dark.svg');
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}
.icon-cross { background-position: 0 0; }
.icon-tick 	{ background-position: -25px 0; }
/* @end */

.icon-zoom {
	@include size(32px, 100%);
	background: inline-image('../img/icons/icon-zoom@2x.png', image/png) no-repeat 100% 50%;
	background-size: 32px 32px;
	display: block;
}

