/* @group =images */
figure {
	position: relative;
}

/* @group =image-crop */
.image-crop {
	background-color: $gray;
	overflow: hidden;
	position: relative;
	> img {
		@include size(auto, 100%);
		display: block;
	}
	.image-border & {
		border-bottom: 4px solid $black;
		margin-bottom: 12px;
	}
}
/* @end */

figcaption {
	.image-caption & {
		font-family: $meta-bold;
		background-color: $red;
		color: $white;
		position: absolute;
		top: 0;
		bottom: auto;
		padding: 0;
		left: 0;
		width: 24px;
		text-align: center;
	}
}
/* @end */