/* @group =modals */
.modal-backdrop {
  background-color: rgba($black, 0.5); 
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindexModalBackdrop;
  &.fade { opacity: 0; }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  @include opacity(100);
}

// Base modal
.modal {
	$padding: 6px; // 6px
	$width: 720px; // 720px;
  @include border-radius(4px);
	@include box-shadow(0 0 10px rgba(0,0,0,.5));
	@include box-sizing(border-box);
  background-color: $black;
	left: 50%;
	margin-left: -$width / 2;
	padding: $padding;
  position: fixed;
  top: 64px;
	width: $width;
  z-index: $zindexModal;
}

.modal-header {
	background-color: $red;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(50%, transparent), color-stop(50%, rgba(0,0,0,.1)), color-stop(100%, rgba(0,0,0,.1)));
	height: 44px;
	h1 {
		@include adjust-font-size-to(16px, 3);
		@include margin-trailer(0);
		font-family: $helvetica;
		float: left;
		margin-left: 24px;
		margin-top: 10px;
	}
	a.btn {
		float: right;
		margin-right: 24px;
		margin-top: 7px;
		vertical-align: middle;
	}
}

// Body (where all modal content resides)
.modal-body {
	$padding: 42px; // 44px
	$width: 708px; // 704px;
	@include box-sizing(border-box);
	@include clearfix;
	@include padding-leader(3);
	@include padding-trailer(3);
	background-color: $white;
	padding-left: $padding;
	padding-right: $padding;
	width: $width;

	h1 {
		@extend %fs5;
	}
	p {
		@include adjust-leading-to(2);
	}
	ul {
		@extend .unstyled;
	}
	.modal-column {
		@include span-columns(3, $total-columns);
		@include nth-omega(2n);
	}
}

#position {
	text-align: center;
	span {
		@include hide-text;
		@include square(10px);
		@include inline-block;
		@include border-radius(5px);
		border: 1px solid #ccc;
		margin-right: 5px;
		&.on {
			background-color: #ccc;
		}
	}
}

.modal-fullscreen {
	&.modal {
		@include border-radius(0);
		@include box-shadow(none);
		width: 100%;
		padding: 0;
		left: 0;
		margin: 0;
		top: 0;
		position: absolute;
	}
	.modal-body {
		width: 100%;
		padding: 0;
	}
}

/* @end */