/*!
* Portrait
*/

$total-columns: 6;
$column-width: 84px;
$gutter-width: 24px;
$grid-padding: 72px;

%container {
	$container-width: 768px;
	@include container;
}

body {
	max-width: 768px;
	margin: 0 auto;
}

@include grid($container-width, $column-width, $gutter-width, $grid-padding);

/* @group =wrapper */
.wrapper {
	@extend %container;
}
/* @end */

%pull-item {
	margin-left: - gutter(4);
}

.panel-up {
	@include margin-leader(-5);
}

/* @group =header */
.header-text {
	left: 10px;
	position: absolute;
	top: 0;
	z-index: 1;
}
/* @end */

/* @group =images */
.image-fullbleed {
	width: 100%; // 624px
	.image-crop {
		height: height(54); // 432px
	}
}

.image-feature {
	width: 100%; // 624px
	.image-crop {
		max-height: height(44); // 352px
	}
}

.image-medium {
	width: columns(4, 4); // 408px
	.image-crop {
		height: height(38); // 304px
	}
}

.image-small {
	width: columns(2, 4); // 192px
	.image-crop {
		height: height(18); // 144px
	}
}

.image-portrait {
	@include margin-trailer(3);
	width: columns(2, 2); // 192px
	.image-crop {
		height: height(32); // 256px
	}
}

.image-float {
	@include span-columns(2, 4); // 168px
	.image-crop {
		height: height(16); // 128px
	}	
}

.image-aside {
	width: columns(2, 2); // 216px
	.image-crop {
		height: height(20); // 160px
	}
}
/* @end */

/* @group =aside */
aside {
	.panel {
		@include border-radius(6px 0 0 6px);
		//@include pad(2, 2);
		width: gutter(2) + space(2, 2) + 12.5;
		//width: ($column-width * 2) + $gutter-width + $grid-padding;
	}
	.panel-light {
		margin-right: 0;
		padding-right: 24px;
	}
	.new {
		//@include box-sizing(border-box);
		@include border-radius(6px 0 0 6px);
		border-right: none;
		//@include pad(2, 2);
		//width: ($column-width * 2) + $gutter-width + $grid-padding;
		//width: columns(2, 2) + gutter(2,2);
		width: gutter(2) + space(2, 2) + 12.5;
	}
}
/* @end */

/* @group =block */
.block {
	@include clearfix;
}
.block-column {
	@include span-columns(2, 4);
	@include nth-omega(2n);
}
/* @end */

/* @group =columnist */
.columnist {
	&:before {
		border-top: 12px solid $white;
		border-right: 12px solid $white;
		border-bottom: 12px solid transparent;
		border-left: 12px solid transparent;
		content: "";
		display: block;
		position: absolute;
		top: 0;
		margin-left: -24px;
	}
}
.columnist-item {
	.credit {
		@include span-columns(2, $total-columns);
	}
	.body {
		@include span-columns(4 omega, $total-columns);
	}
}
/* @end */

/* @group =banner */
.banner-header {
	@extend %container;
	.icon-button {
		display: block;
	}
}
.banner-item {
	@include span-columns(3 omega, $total-columns);
}
.banner-column {
	@include span-columns(2, $total-columns);
	@include nth-omega(3n);
}
/* @end */

/* @group =credits */
.credits {
	@extend .container;
	@include clearfix;
}
.credits-column {
	@include span-columns(3, $total-columns);
	@include nth-omega(2n);
}
/* @end */

/* @group =pager */
.pager {
	width: ($column-width * 2) + $gutter-width + $grid-padding;
	padding-right: $gutter-width;
	padding-left: $column-width + $gutter-width;
	position: absolute;
	right: 0;
	bottom: 0;
	.image-crop {
		width: $column-width + ($gutter-width / 2);
	}
}
/* @end */

/* @group =contents */
body.contents {
	
	.image-small {
		width: columns(2, 2);
	}
	
	.area1 {
		@include span-columns(4, $total-columns);
		.slot2 {
			.car-item {
				@include span-columns(2, 4);
				@include nth-omega(2n);
			}
		}
	}

	.area2 {
		@include span-columns(2 omega, $total-columns);
	}

	.area3 {
		.slot1 {
			@include span-columns(2, $total-columns);
		}
		.slot2 {
			@include span-columns(4 omega, $total-columns);
		}
	}
	.area4 {
		.slot1 {
			@include span-columns(4, $total-columns);
		}
		.slot2 {
			@include span-columns(2 omega, $total-columns);
		}
	}
	.area5 {
		.slot1 {
			@include span-columns(2, $total-columns);
		}
		.slot2 {
			@include span-columns(4 omega, $total-columns);
		}
	}
}
/* @end */

/* @group =videos */
.video-list {
	@include clearfix;
}
.video-small {
	@include span-columns(2, $total-columns);
	@include nth-omega(3n);
	.image-crop {
		max-height: height(13); // 104px
	}
}
.video-large {
	.image-crop {
		max-height: height(44); // 352px
	}
}
/* @end */

/* @group =layout7 */
.layout7 {
	.main {
		@include span-columns(4 omega, $total-columns);
	}
	aside {
		@include span-columns(2, $total-columns);
	}
}
/* @end */

/* @group =layout14 */
.layout14 {
	.main {
		@include span-columns(4, $total-columns);
	}
	aside {
		@include span-columns(2 omega, $total-columns);
	}
}	
/* @end */

/* @group =layout17 */
.layout17 {
	.image-small {
		width: 100%;
	}
	.slot1 {
		@include span-columns(4 omega, $total-columns);
	}
	.slot2 {
		@include span-columns(2, $total-columns);
	}
}
/* @end */

/* @group =layout18 */

/* @group =products */
.products-collapse {
	.products-column:first-child {
		@include span-columns(4, $total-columns, $gutter-width);
	}
	.products-column:last-child {
		@include span-columns(2 omega, $total-columns);
		img {
			@include margin-leader(-3);
			width: 100%;
		}
	}
}

.product-list {
	.product {
		@include span-columns(2, $total-columns);
		@include nth-omega(3n);
	}
	.image-small {
		width: 100%;
	}
}

.products-verdict {
	.slot1 {
		@include span-columns(4, $total-columns, $gutter-width);
	}
	.slot2 {
		@include span-columns(2 omega, $total-columns);
	}
}

.product-box {
	@include push(1);
	width: columns(4);
}
/* @end */

.table .main {
	@extend %container;
	background: green;
	padding-left: 0;
	padding-right: 0;
}
