/* @group =scaffolding */
body {
	font-size: pem($base-font-size);
	line-height: pem($base-line-height * 3);
  background-color: $body-background;
	color: rgba($text-color, 1);
  font-family: $base-font-family;
  margin: 0;
	&.large {
		@include adjust-font-size-to(18px); // 16px/24px
	}
	&.larger {
		@include adjust-font-size-to(20px); // 16px/24px
	}
	&.extreme {
		font-size: 50px;
	}
}

a {
	color: $link-color;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	&:focus {
		outline: 0 none;
	}
}
/* @end */