/* @group =contents */
body.contents {
	background: $black url('../img/regulars/carsoftheweek/asphalt-bg.jpg') repeat-y 50% 0;
	.main {
		@extend %container;
		@include margin-leader(7);
		@include margin-trailer(7);
	}
	.footer-text {
		background-color: $black;
		color: $white;
	}
}

.car-item {
	display: block;
	.caption {
		@include box-sizing(border-box);
		@include leading-border(4px, 2);
		@include padding-trailer(1);
		@include margin-trailer(2);
		background-color: rgba(0,0,0,0.5);
		border-color: $red;
		color: $white;
		font-family: $meta-bold;
		padding-left: 10px;
		&.newcars {
			border-color: $product-blue;
		}
		&.roadtest {
			border-color: $yellow;
		}
	}
}
/* @end */

/* @group =videos */
body.videos {
	.main {
		@extend %container;
		@include margin-leader(8);
		@include margin-trailer(6);
	}
}

.video-large,
.video-small {
	@include margin-trailer(3);
	display: block;
	position: relative;
	.icon-square {
		@extend %icon-square-light-sprite;
		background-color: $red;
		background-image: url;
		border-color: $white;
		left: 50%;
		margin: -38px 0 0 -24px;
		position: absolute;
		top: 50%;
	}
}

.video-caption {
	@include adjust-font-size-to(16px, 2);
	@include leading-border(4px, 2);
	border-color: $red;
	font-family: $meta-bold;
}

.video-large {
	.video-caption {
		@include adjust-font-size-to(24px, 2);
	}
}
/* @end */

/* @group =backchat */
.backchat {
	.article-full .body blockquote {
		margin-left: 0;
	}
	.icon-text {
		@include adjust-leading-to(6);
	}
}
/* @end */

/* @group =editorsletter */
.editorsletter {
	.article-full .headline {
		@extend %fs2;
		margin-left: 0;
	}
	.article-full .body blockquote {
		margin-left: 0;
	}
	.icon-text {
		text-transform: uppercase;
	}
}
/* @end */

/* @group =helpdesk */
.helpdesk {
	.banner-item {
		.icon-button {
			margin-bottom: 16px;
		}
	}
	
	.icon-text strong {
		display: block;
	}
	.panel-dark {
		p {
			@include margin-trailer(0);
		}
	}
}
/* @end */

/* @group =inbox */
body.inbox {
	.banner {
		.icon-square {
			background-color: rgba($white, 0.4);
		}
	}
	.banner-body {
		.icon-text {
			@include padding-leader(1);
		}
	}
}

.icon-button {
	word-wrap:break-word;
}
/* @end */

/* @group =review */
body.review {
	.panel-dark {
		> .subhead {
			@extend %fs6;
			@include margin-trailer(0);
			line-height: 16px;
			font-family: $meta-normal;
		}
		> .headline {
			@extend %fs5;
			@include margin-trailer(0);
		}
	}
}
/* @end */

/* @group =car */
body.car {
	.panel-light {
		h6 {
			@include margin-trailer(1);
		}
	}
}
/* @end */

/* @group =products */
.product-overview {
	@extend %container;
	@include margin-trailer(1);
	.headline,
	.lead {
		text-align: center;
	}
	.icon-disc {
		display: block;
		margin: 0 auto;
	}
}

.arrow-top {
	background: red;
	@include square(20px);
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -10px;
}

.products-collapse {
	@extend %container;
	@include margin-trailer(3);
	background-color: $red;
	color: $white;
	.well {
		@include clearfix;
		@include leading-border(8px, 4);
		@include margin-leader(6);
		@include margin-trailer(6);
		@include trailing-border(8px, 4);
		border-right: 8px solid;
		border-left: 8px solid;
		border-color: darken($red, 10);
		background-color: $white;
		color: $text-color;
		h1 {
			@extend %fs4;
		}
	}
}

.product-list {
	@extend %container;
}

.product {
	@include margin-trailer(3);
	position: relative;

	.badge {
		display: block;
		text-align: center;
		margin: 0 auto 12px;
	}

	.badge-inner {
		width: 100%;
	}
	
	.image-small {
		position: relative;
	}

	.icon-small {
		position: absolute;
		top: 12px;
		right: 12px;
		z-index: 1;
	}
	
	ul {
		@extend .unstyled;
		@include margin-trailer(0);
	}
}

.product-title {
	@include adjust-font-size-to($base-font-size, 2); // 16px/16px
	@include margin-trailer(1);
}

.products-verdict {
	@extend %container;
	.well {
		@include clearfix;
		@include leading-border(2px, 4);
		@include margin-trailer(3);
		@include trailing-border(2px, 4);
		border-right: 2px solid;
		border-left: 2px solid;
		border-color: $black;
		background-color: $white;
		color: $text-color;
	}
}

.product-box {
	@include box-sizing(border-box);
	@include rhythm(0, 3, 3, 3);
	background-color: $red;
	color: $white;
	font-family: $meta-bold;
	padding-left: 24px;
	padding-right: 24px;
	p:last-child {
		@include margin-trailer(0);
	}
}

/* @end */

/* @group =carhunter */
body.carhunter {
	.product-title {
		@include adjust-font-size-to(24px, 4);
	}
}
/* @end */

/* @group =books */
body.books {
	h1 {
		@extend %fs4; // 32px/48px
		@include margin-trailer(2);
	}
	article {
		@include clearfix();
		@include margin-trailer(3);
		@include trailing-border(6px, 1);
		border-color: $gray-light;
		.headline {
			@extend %fs5; // 24px/24px
		}
	}
	&:last-child {
		article:last-child {
			@include margin-trailer(0);
			border-bottom: none;
		}
	}	
}
/* @end */
