@charset 'utf-8';
@import '_settings';
@import '_base/_normalize';
@import '_helpers/_mixins';
//@import '_helpers/_display';
//@import '_helpers/_fonts';
@import '_elements/_scaffolding';
@import '_elements/_type';
//@import '_modules/_flexbox';
@import '_modules/_grid';
@import '_page/_header';
@import '_page/_main';
@import '_page/_footer';
@import '_modules/_misc';
//@import '_modules/_icon';
@import '_helpers/_placeholders';
//@import '_media/print';

.container {
  padding-left: $grid-padding;
  padding-right: $grid-padding;
}

@include at-breakpoint($medium-media-layout) {

  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@include at-breakpoint($large-media-layout) {

  .container {
    @include set-container-width;
  }
}

.columns {
  @extend %pie-clearfix;
  position: relative;
}

//.column {}
