$ie6: true;
$ie7: true;
$ie8: true;
$legacy-support-for-ie6: $ie6;
$legacy-support-for-ie7: $ie7;
$legacy-support-for-ie8: $ie8;
$legacy-ie: $ie6 or $ie7 or $ie8;
$legacy-support-for-ie: $legacy-ie;

$legacy-mozilla: false;
$legacy-support-for-mozilla: $legacy-mozilla;

$mozilla: false;
$webkit: true;
$opera: false;
$microsoft: false;
$khtml: false;
$experimental-support-for-mozilla: $mozilla;
$experimental-support-for-webkit: $webkit;
$experimental-support-for-opera: $opera;
$experimental-support-for-microsoft: $microsoft;
$experimental-support-for-khtml: $khtml;

$modern: $mozilla or $webkit or $opera or $microsoft or $khtml;

$support-for-original-webkit-gradients: false;
$experimental-support-for-svg: false;
$experimental-support-for-pie: false;

// Breakpoint outputs
$breakpoint-media-output: true;
$breakpoint-ie-output: false;
$breakpoint-raw-output: false;

@import '_all';
